<div class="row">
    <p>Welcome {{user.username}}</p>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="newListName">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="createList()">Create</button>
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div ng-repeat="list in lists" ng-click="goToList(list)">
        <p>{{list.name}}</p>
    </div>
</div>